body {
	background-color: #98CBFF;
}

h1 {
    font-family: Courier New;
	text-align: center;
	font-weight: bold;
}

h3 {
	font-family: Courier New;
	text-align: center;
	font-weight: bold;
}

p {
	font-family: Courier New;
	text-align: center;
}

img {
	width: 60%;
	height: 100%;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2vh;
	border: 1px black solid;
}

.headerbody {
	background-color: #94E1FF;
	padding: 1em;
	grid-column-start: 1;
	grid-column-end: span 2;
	text-align: justify;
}
	
.monday {
	background-color: #94E1FF;
	padding: 1em;
	grid-column-start: 1;
	grid-column-end: span 2;
	text-align: left justify;
}

.tuesday {
	background-color: #94E1FF;
	padding: 1em;
	grid-column-start: 1;
	grid-column-end: span 2;
	text-align: justify;
}

.wednesday {
	background-color: #94E1FF;
	padding: 1em;
	grid-column-start: 1;
	grid-column-end: span 2;
	text-align: justify;
}

.thursday {
	background-color: #94E1FF;
	padding: 1em;
	grid-column-start: 1;
	grid-column-end: span 2;
	text-align: justify;
}

.friday {
	background-color: #94E1FF;
	padding: 1em;
	grid-column-start: 1;
	grid-column-end: span 2;
	text-align: justify;
}

.average {
	background-color: #94E1FF;
	padding: 1em;
	grid-column-start: 1;
	grid-column-end: span 2;
	text-align: justify;
}